.no-list {
  list-style: none;

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

.recovery-codes {
  list-style: none;
  margin: 0 auto;

  li {
    font-size: 125%;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.keyword-input-wrapper__input_error {
  border: 1px solid red !important;
}

.keyword-input-wrapper {
  line-height: 16px;
  padding: 8px;
  border: 1px solid var(--background-border-color);
  border-radius: 4px;
  min-height: 44px;
}

.keyword-input-wrapper__error {
  color: red;
}

.keyword-pills {
  display: block;
  min-width: 100%;
  margin-bottom: 5px;
  gap: 4px;
}

.keyword-pill {
  display: grid;
  grid-template-columns: 11fr 1fr;
  align-items: center;
  border: 1px solid var(--background-border-color);
  padding: 1px 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: 600;
}

.keyword-pill__text {
  overflow: hidden;
  opacity: 0.6;
  margin-right: 2px;
}

.keyword-pill__remove {
  aspect-ratio: 1/1;
  justify-self:right;
  color: white;
  background: #6364ff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.keyword-pill__remove:hover {
  opacity: 1;
}

.keyword-input-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 120px;
  background: transparent;
}
